header{
    font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;
    color: rgb(80, 15, 141); background-color: rgb(255, 220, 238);
}
body{
    background-color: rgb(164, 120, 182); 
}
h3{
    background-color: rgb(218, 193, 185); text-align: center; font-size: xx-large; color: rgb(107, 8, 150);
}
p{
    text-align: center; background-color: rgb(253, 114, 195); font-weight:bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: large;
}
nav ul li{
    background-color: rgb(209, 125, 125); color: rgb(18, 6, 51); text-align: center; font-size: large; font-family: monospace;

}
footer{
    text-align: center; color: indigo; background-color: lightcoral;
}
img{
    width: 300px; height: 200px; margin-left:  300px; 
}